<div class="content" role="main" style=background-color:rgb(251,245,255)>
  <stage-comp id="stageComp" [width]=1600 [height]=980> StageComponent here</stage-comp>
  <div style="position: absolute; top: 10px; left: 15px; z-index: 9999">
    <a href="https://docs.google.com/document/d/1IKwKtXxFkKQIL9FXchZ0zqhZvCisjLi7qsD-JdlEqAg/view#" target="_blank" rel="noopener">{{ title }}</a>
    <br/>
    <span>{{ timestamp }}</span>
    <br/>
    Game: <span id="group_name">----</span>
    <br/>
    <button type="submit" id="fsOpenFileButton" onclick="showOpenFilePicker()">OpenFile</button>
    <br/>
    <!-- P&P templte: single-sided = 2550 x 3300 [landscape, 7x5 EWtopo] or double-sided = 5100 x 3300 [portrait] -->
    <!-- 1 inch circle Premium Label Supply: [height]=3290 [width]=2530 -->
    <a id="makePage"><button type="button">MakePage</button></a>
    <br/>
    <a id="viewPage"><button type="button">ViewPage</button></a>
    <br/>
    <a id="download" download="image.png"><button type="button">Download</button></a>
  </div>
  <div id = 'canvasDiv'
  style="position: absolute; top: 170px; left: 15px; z-index: 9; scale: .1; width: 360px; height: 540px; transform-origin: 0px 0px">
  <!-- <canvas id="Canvas_Pn"></canvas> -->
  </div>
 </div>
